{
    "user_id": "{{ user_id }}",
    "data": {
        "matched_score": {{ matched_score }},
        "dense_score": {{ dense_score }},
        "complete_score": {{ complete_score }},
        "n_pass_window": {{ n_pass_window }},
        "n_fail_window": {{ n_fail_window }},
        "n_reset_pattern": {{ n_reset_pattern }}
    },
    "message": {{ message }},
    "message_code": {{ message_code }}
}